/*
.joke { 
  padding: 10px; 
  list-style: none;
  border: 1px solid rgba(10, 15, 15, 0.4);
  
  border-radius: 10px;
  margin: 20px;
  padding-top: 10px; 
  font-size: 18px; 
}
*/

ul {
  display: flex;
  align-content: space-between
}

.header {
  background-color: rgba(158, 152, 152, 0.23);
  text-align: center;
}

h2 {
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 2px dotted rgba(10, 10, 10, 0.23)
}

Button {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.fade-enter {
right: 100px;

}

.fade-enter-active {
right: 0px;
transition: .5s ease-in all;
}

.fade-leave {
  right: 0px;
  opacity: 1.0;
}

.fade-leave-actice {
  right: -100px;
  opacity: 0;
  transition: .5s ease-in all;
}